@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex
}

.space-between {
  justify-content: space-between;
}

.button-piramy {
  background-color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
  text-transform: uppercase;
  color: #190a32;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
  padding: 15px 35px;
  transition: all 0.3s ease 0s;
  /* height: 50px; */
}

.align-center {
  align-items: center;
}

.color-white {
  color: #fff;
}

.color-gradient-purple {
  background: transparent linear-gradient(90deg, #7D4196 0%, #FF3494 100%) 0% 0% no-repeat padding-box;
}

.color-pink {
  color: #ff3494;
}

.color-purple {
  color: #7D4196;
}

.background-purple {
  background-color: #7D4196;
}

.background-grey {
  background-color: rgb(247, 244, 254);
}

.nav {
  list-style: none;
}

.nav li {
  margin: 34px 20px;
}

.container {
  max-width: 1600px;
  margin: auto;
  padding: 0 30px;
}

.m-l-30 {
  margin-left: 30px;
}

h1 {
  color: #190a32;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(103, 111, 103);
}

.button-secondary {
  background-color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
  padding: 15px 35px;
  transition: all 0.3s ease 0s;
  margin-top: 20px;
  /* height: 50px; */
}

.header-background {
  background: url(https://zcube.in/bingle/img/bg/pink-header-bg.png) no-repeat;
  min-height: 900px;
  background-size: 65%;
  box-sizing: border-box;
  background-position: right 0;

}

.sub-title {
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 30px;
  box-sizing: border-box;
}

.background-border {
  border-radius: 20px;
  margin-bottom: 30px;
}

.justify-content {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.small-title {
  padding: 0 1rem;
}

.feature-subtitle {
  max-width: 700px;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-weight: 700;
  font-size: 38px;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-title {
  width: 100%;
  text-align: center;
}

.blog-title {
  text-align: center !important;
  margin-top: 50px;
  margin-bottom: 20px;
}

.blog-title p {
  line-height: 24px;
  margin-bottom: 15px;
  color: #666666;
  font-size: 14px;
}

.date {
  margin: 30px 20px;
  background: transparent linear-gradient(90deg, #7D4196 0%, #FF3494 100%) 0% 0% no-repeat padding-box;
  border-radius: 13px;
  padding: 5px 20px;
  box-shadow: 3px 4px 15px #D22D4A4D;
  margin-bottom: 20px;
  max-width: 125px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  padding: 40px;
  justify-content: center;
  max-width: 1300px;
}

.card {
  margin: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 4px 25px #0000001A;
  margin-bottom: 30px;
}

.card-content {
  margin: 30px 20px;
}

.card-content h3 {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 20px;
}

.card-content p {
  font-size: 14px;
}

.author-info {
  margin: 30px 20px;
}

hr {
  margin: 20px;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.small-icon {
  max-width: 45px;
  margin: 0 20px;
}

.small-icon img {
  width: 100%;
  border-radius: 50%;
  background: #D7D7D7 0% 0% no-repeat padding-box;
  box-shadow: 3px 4px 12px #00000026;
  border: 2px solid #FFFFFF;
}